<div class="followers" id="followers">
  <div class="item facebook">
    <div class="contents">
      <div class="handle">
        <img src="/assets/icon-facebook.svg" alt="" />
        <span>@nathanf</span>
      </div>
      <div class="followers-num">
        <h2>1987</h2>
        <span>FOLLOWERS</span>
      </div>
      <div class="gain">
        <span class="percentage-gain">12 Today</span>
      </div>
    </div>
  </div>
  <div class="item facebook">
    <div class="contents">
      <div class="handle">
        <img src="/assets/icon-facebook.svg" alt="" />
        <span>@nathanf</span>
      </div>
      <div class="followers-num">
        <h2>1987</h2>
        <span>FOLLOWERS</span>
      </div>
      <div class="gain">
        <span class="percentage-gain">12 Today</span>
      </div>
    </div>
  </div>
  <div class="item twitter">
    <div class="contents">
      <div class="handle">
        <img src="/assets/icon-twitter.svg" alt="" />
        <span>@nathanf</span>
      </div>
      <div class="followers-num">
        <h2>1044</h2>
        <span>FOLLOWERS</span>
      </div>
      <div class="gain">
        <span class="percentage-gain">99 Today</span>
      </div>
    </div>
  </div>
  <div class="item instagram">
    <div class="contents">
      <div class="handle">
        <img src="/assets/icon-instagram.svg" alt="" />
        <span>@nathanf</span>
      </div>
      <div class="followers-num">
        <h2>11k</h2>
        <span>FOLLOWERS</span>
      </div>
      <div class="gain">
        <span class="percentage-gain">109 Today</span>
      </div>
    </div>
  </div>
  <div class="item youtube">
    <div class="contents">
      <div class="handle">
        <img src="/assets/icon-youtube.svg" alt="" />
        <span>Nathan F.</span>
      </div>
      <div class="followers-num">
        <h2>8239</h2>
        <span>SUBSCRIBERS</span>
      </div>
      <div class="gain">
        <span class="follower-decrease">144 Today</span>
      </div>
    </div>
  </div>
</div>
